* {
  font-family: 'Open Sans', sans-serif;
}

.partial-block {
  display: flex;
  width: 100vw;
  height: 100px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  background-color: antiquewhite;
}
